name: Endor Labs OSS Dependency Scan
on:
  push:
    branches: [ stage ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      ci_run:
        description: "Execute as a CI Run"
        type: boolean
        default: false
        required: false

jobs:
  scan:
    permissions:
      security-events: write # Used to upload sarif artifact to GitHub
      contents: read # Used to checkout a private repository but actions/checkout. 
      actions: read # Required for private repositories to upload sarif files. GitHub Advanced Security licenses are required.
      id-token: write # Used for keyless authentication to Endor Labs
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'microsoft'
        java-version: '17'
        
    - name: Endor Labs Scan for PR
      if: github.event_name == 'pull_request' || github.event.inputs.ci_run == true
      id: endor_scan_pr
      uses: endorlabs/github-action@main
      with:
        namespace: 'demo'
        api: 'https://api.staging.endorlabs.com'
        scan_summary_output_type: 'table'
        ci_run: true
        sarif_file: 'findings.sarif'
        
    - name: Endor Labs Scan for release
      if: github.event_name == 'push' || github.event.inputs.ci_run == false
      id: endor_scan_release
      uses: endorlabs/github-action@main
      with:
        namespace: 'demo'
        api: 'https://api.staging.endorlabs.com'
        scan_summary_output_type: 'table'
        ci_run: false
        sarif_file: 'findings.sarif'
        
    - name: Upload SARIF to github
      uses: github/codeql-action/upload-sarif@9885f86fab4879632b7e44514f19148225dfbdcd
      with:
        sarif_file: 'findings.sarif'
